body{
  background-color:#e6e6e6;
}
ul{
  font-family: Arial;
  font-size: 110%;
  font-weight: normal;
  font-style: italic;
  color: #25a561;
}
h1{
  font-family: Verdana;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
  margin: 10pt 25pt;
  color: #25a561;
}
p{
  font-family: Verdana;
  text-indent: 3%;
  margin: 5px 25px 5px 25px;
  font-size: 0.8em;
  text-align: justify;
}
h2{
  text-align: center;
  font-family: Verdana;
  font-size: 1.3em;
  font-weight: italic; 
}
h3{
  border-top: 2px solid #2F4F4F;
  margin: 15px 30px 5px 30px;
  font-family: Arial;
  font-size: 110%;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: #25a561;
}
 